@font-face {
  font-family: "iconfont"; /* Project id 4072718 */
  src: url('iconfont.woff2?t=1689845861276') format('woff2'),
       url('iconfont.woff?t=1689845861276') format('woff'),
       url('iconfont.ttf?t=1689845861276') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-left:before {
  content: "\e60e";
}

.icon-bofang:before {
  content: "\e663";
}

.icon-zuoce-yubeifeiyong:before {
  content: "\e719";
}

.icon-xianshimiaosha:before {
  content: "\e639";
}

.icon-qianggou:before {
  content: "\e619";
}

.icon-renqun:before {
  content: "\e798";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-share:before {
  content: "\e7e7";
}

.icon-code:before {
  content: "\e7fc";
}

.icon-tuichu-x:before {
  content: "\e622";
}

.icon-time-circle-fill:before {
  content: "\e848";
}

.icon-setting-fill:before {
  content: "\e871";
}

.icon-icon-right:before {
  content: "\e60d";
}

.icon-icon-down:before {
  content: "\e60b";
}

.icon-icon-card:before {
  content: "\e61c";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-aixin-xian:before {
  content: "\e895";
}

.icon-icon-list:before {
  content: "\e607";
}

.icon-a-icon-list1:before {
  content: "\e608";
}

.icon-icon-ruzhu:before {
  content: "\e61b";
}

.icon-a-icon-shopcar:before {
  content: "\e61d";
}

.icon-icon-message:before {
  content: "\e61a";
}

.icon-xihuan1:before {
  content: "\e8cb";
}

.icon-icon-home:before {
  content: "\e604";
}

.icon-icon-user:before {
  content: "\e605";
}

.icon-icon-close:before {
  content: "\e60c";
}

.icon-icon-search:before {
  content: "\e610";
}

.icon-icon-add:before {
  content: "\e618";
}

.icon-shoucang:before {
  content: "\e65a";
}

