@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/iconfont/iconfont.css";

html,body {
    height: 100%;
}
body > div:first-child {
    height: 100%;
}
/** {*/
/*    box-sizing: border-box;*/
/*    !*隐藏滚动条*!*/
/*    scrollbar-width: none; !* firefox *!*/
/*    -ms-overflow-style: none; !* IE 10+ *!*/
/*}*/
/**::-webkit-scrollbar {*/
/*    display: none; !* Chrome Safari *!*/
/*}*/
.ant-switch {
    background: #bbbbbb;
}
.ant-switch.ant-switch-checked {
    background: blueviolet;
}
.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
    background: #ab6ce7;
}
.ant-btn-primary {
    background: blueviolet;
}
.ant-btn-primary:hover {
    background-color: #8300ff !important;
}
.ant-modal-content {
    height: 100%;
}
