.ant-carousel {
  height: 100%;
}

.slick-list {
  height: 100%;
}

.slick-track {
  height: 100%;
}

.slick-slide {
  height: 100%;
  /*width: 100% !important*/
}

.slick-slide > div {
  height: 100%;
}

.note-detail-content {
  display: flex !important;
}
