.ant-tabs-nav-list {
    width: 100%;
}
.ant-tabs-tab {
    width: 50%;
    padding-top: 10px !important;
    justify-content: center;
}
.ant-popover-inner {
    padding: 0 !important;
    overflow: hidden;
}
